@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html, body {
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
  width: 100%;
}

.section {
  padding: 50px 0;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.allContent {
  display: flex;
  justify-content: center;
}

.allContent .asideContent {
  width: 100%;
  max-width: 1150px;
}

.allContent .asideBar {
  width: 50px;
  height: 100%;
  position: sticky;
  padding-top: 50px;
  top: 0;
  z-index: 1;
}

.allContent .asideBar h2 {
  font-size: 0;
}

.allContent .asideBar .asideNavBarList li {
  font-size: 0;
}

.allContent .asideBar .asideNavBarList a {
  display: block;
  font-size: 20px;
  writing-mode: vertical-rl;
  line-height: 50px;
  padding: 15px 0;
  border-bottom: 1px solid #aaa;
  transition: .3s;
}

.allContent .asideBar .asideNavBarList li:first-child a {
  padding-top: 30px;
}

.allContent .asideBar .asideNavBarList span {
  position: relative;
}

.allContent .asideBar .asideNavBarList span:before,
.allContent .asideBar .asideNavBarList span:after {
  content: "";
  position: absolute;
  height: 0;
  transition: .3s;
}

.allContent .asideBar .asideNavBarList span:before {
  border-left: 1px solid #fa0;
  top: 0;
  left: 0;
}

.allContent .asideBar .asideNavBarList span::after {
  border-right: 1px solid #fa0;
  right: 0;
  bottom: 0%;
}

.allContent .asideBar .asideNavBarList a:hover {
  color: #fa0;
}

.allContent .asideBar .asideNavBarList a:hover span:before,
.allContent .asideBar .asideNavBarList a:hover span:after {
  height: 100%;
}

.asideCommon {
  width: 7%;
  position: sticky;
  height: 100%;
  top: 50px;
}

.asideCommon img {
  width: 100%;
}

.moreBtn {
  display: block;
  margin: 0 auto;
  padding-left: 50px;
  background-color: transparent;
  border: none;
  position: relative;
}

.moreBtn a {
  display: block;
  padding: 13px 24px;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 #fa0;
  position: relative;
  transition: .3s;
}

.moreBtn a:before {
  content: "";
  position: absolute;
  width: 120%;
  border-top: 2px solid #aaa;
  top: 0;
  left: -12px;
  border-bottom: 2px solid #aaa;
  bottom: 0;
  transition: .3s;
}

.moreBtn a:after {
  content: "";
  position: absolute;
  height: 140%;
  border-right: 2px solid #aaa;
  top: -6px;
  right: 0;
  border-left: 2px solid #aaa;
  top: -11px;
  left: 0;
  transition: .3s;
}

.moreBtn a:hover {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 #fff;
  background-color: #fa0;
  color: #fff;
}

.moreBtn a:hover:before {
  width: 100%;
  left: 0;
}

.moreBtn a:hover:after {
  height: 100%;
  top: 0;
}

.moreBtn:before {
  content: "";
  position: absolute;
  height: 35%;
  border-left: 2px solid #fff;
  z-index: 2;
  top: 12px;
  left: 50px;
  transform: translate(-5px, -5px);
  transition: .3s;
}

.moreBtn:hover:before {
  height: 0;
  transform: translate(5px, 5px);
}

.header h1 {
  font-size: 0;
}

.header .headerBar {
  display: none;
}

.header .headerBanner {
  height: 100vh;
  display: flex;
  align-items: center;
}

.header .headerBanner .impression {
  width: 40%;
  height: 100vh;
  line-height: 100vh;
  padding: 10px;
  border-right: 1px solid #aaa;
}

.header .headerBanner .impression img {
  width: 100%;
}

.header .bannerTxt {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .bannerTxt .logo img {
  width: 100%;
}

.header .bannerTxt p {
  font-style: italic;
}

.issue h2 {
  font-size: 36px;
  text-align: center;
  padding: 50px 0 50px 50px;
}

.issue .issueContent {
  display: flex;
}

.issue .issueContent .carousel {
  width: 80%;
  margin: 0 auto 50px;
}

.issue .issueContent .carousel .carousel-item > img {
  margin-bottom: 20px;
}

.issue .issueContent .carousel .animate__fadeInUp {
  animation-delay: .5s;
}

.sales h2 {
  font-size: 36px;
  text-align: center;
  padding: 50px 0 50px 50px;
}

.sales .salesContent {
  display: flex;
  margin-bottom: 50px;
}

.sales .salesContent .salesStory {
  width: 80%;
  margin: 0 auto;
}

.sales .salesContent .salesStory .salesList {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.sales .salesContent .salesStory .salesList li {
  width: 45%;
  height: 100%;
  padding: 10px;
  text-align: center;
  background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/sales/bg-sales.png?raw=true);
}

.sales .salesContent .salesStory .salesList li img {
  width: 90%;
  box-shadow: 5px 5px 5px #ccc;
}

.sales .salesContent .salesStory .salesList li > .moreBtn {
  padding-left: 0;
}

.sales .salesContent .salesStory .salesList li > .moreBtn:before {
  top: 12px;
  left: 0;
}

.sales .salesContent .salesStory .salesList li .storyTxt h3 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.sales .salesContent .salesStory .salesList li .storyTxt h3:before {
  content: "";
  position: absolute;
  width: 0;
  height: 35%;
  background-color: #fa0;
  left: 25%;
  bottom: 10px;
  z-index: -1;
  transition: width .3s;
}

.sales .salesContent .salesStory .salesList li .storyTxt p {
  margin-bottom: 20px;
  padding: 10px;
}

.sales .salesContent .salesStory .salesList li .storyTxt p:first-child {
  font-size: 20px;
  text-align: left;
}

.sales .salesContent .salesStory .salesList li .storyTxt p:last-child {
  font-size: 14px;
  text-align: left;
}

.sales .salesContent .salesStory .salesList li:hover > .storyTxt h3:before {
  width: 50%;
}

.about h2 {
  font-size: 36px;
  text-align: center;
  padding: 50px 0 50px 50px;
}

.about .aboutContent {
  display: flex;
}

.about .aboutUs {
  width: 80%;
  margin: 0 auto;
}

.about .aboutUs li {
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.about .aboutUs li:nth-child(2) {
  flex-direction: row-reverse;
}

.about .aboutUs li:nth-child(2) .aboutTxt {
  align-items: flex-end;
}

.about .aboutUs .aboutPic {
  width: 50%;
}

.about .aboutUs .aboutPic .numberPic {
  width: 10%;
  position: absolute;
  top: 20px;
  left: 45%;
}

.about .aboutUs .aboutTxt {
  width: 50%;
  background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/01-PC/04-about/bg-about.png?raw=true);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .aboutUs .aboutTxt h3, .about .aboutUs .aboutTxt h4, .about .aboutUs .aboutTxt p {
  width: 90%;
  text-align: center;
  padding: 10px;
  background-color: rgba(245, 243, 242, 0.5);
}

.about .aboutUs .aboutTxt h3 {
  font-size: 22px;
}

.about .aboutUs .aboutTxt h4 {
  font-size: 14px;
}

.about .aboutUs .aboutTxt p {
  font-size: 12px;
}

.header .headerPic {
  position: relative;
}

.header .headerPic:after {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #dbdbdc;
  left: 0;
  bottom: 20px;
}

.storyOfPeople {
  display: flex;
}

.storyOfPeople .storyAisdeMenu {
  padding: 100px 0;
  position: relative;
}

.storyOfPeople .storyAisdeMenu li {
  font-size: 0;
  text-align: right;
  position: relative;
}

.storyOfPeople .storyAisdeMenu li a {
  display: block;
  font-size: 16px;
  padding: 30px 10px 30px 0;
  transition: .3s;
  position: relative;
}

.storyOfPeople .storyAisdeMenu li a:before {
  content: "";
  position: absolute;
  width: 70%;
  border-bottom: 1px solid #aaa;
  right: 0;
  bottom: 25px;
}

.storyOfPeople .storyAisdeMenu li a:hover {
  color: #fa0;
}

.storyOfPeople .storyAisdeMenu:before {
  content: "";
  position: absolute;
  height: 130%;
  border-right: 1px solid #dbdbdc;
  right: 1px;
  top: -25%;
  z-index: -1;
}

.storyOfPeople .storyContent {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.storyOfPeople .storyContent .storyBreadCrumb {
  display: flex;
  margin-bottom: 50px;
}

.storyOfPeople .storyContent .storyBreadCrumb li {
  font-size: 0;
}

.storyOfPeople .storyContent .storyBreadCrumb a,
.storyOfPeople .storyContent .storyBreadCrumb .fas {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 0 15px;
}

.storyOfPeople .storyContent .storyBreadCrumb span {
  position: relative;
}

.storyOfPeople .storyContent .storyBreadCrumb span:before {
  content: "";
  position: absolute;
  width: 0;
  border-bottom: 10px solid #fa0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: width .3s;
}

.storyOfPeople .storyContent .storyBreadCrumb a:hover > span:before {
  width: 100%;
}

.storyOfPeople .storyContent .selectArea {
  position: absolute;
  top: 0;
  right: 0;
}

.storyOfPeople .storyContent .selectArea li {
  font-size: 0;
}

.storyOfPeople .storyContent .selectArea .selectMenu {
  width: 130px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 25px;
  background-color: #777;
  color: #fff;
}

.storyOfPeople .storyContent .selectArea .subSelectMenu {
  width: 100%;
  position: absolute;
  top: 34px;
  left: -100%;
  opacity: 0;
  z-index: -1;
}

.storyOfPeople .storyContent .selectArea .subSelectMenu a {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 5px 25px;
  background-color: #ccc;
}

.storyOfPeople .storyContent .selectArea .subSelectMenu a:hover {
  background-color: #aaa;
}

.storyOfPeople .storyContent .selectArea .selectMenu:hover > .subSelectMenu {
  left: 0;
  opacity: 1;
  z-index: 1;
  transition: .5s;
}

.storyOfPeople .storyArticle {
  width: 80%;
  margin: 0 auto;
}

.storyOfPeople .storyArticle .storyPicDescription {
  width: 90%;
  margin: 0 auto 50px auto;
  display: flex;
  align-items: center;
  background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/01-PC/03-story/Story_bg.png?raw=true);
}

.storyOfPeople .storyArticle .storyPicDescription .storyPic {
  width: 50%;
}

.storyOfPeople .storyArticle .storyPicDescription .storyPic h3 {
  font-size: 0;
}

.storyOfPeople .storyArticle .storyPicDescription .storyPic img {
  box-shadow: 5px 5px 5px #fa0;
}

.storyOfPeople .storyArticle .storyPicDescription .picTxt {
  width: 50%;
}

.storyOfPeople .storyArticle .storyPicDescription .picTxt p {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(245, 243, 242, 0.5);
}

.storyOfPeople .storyArticle .storyPicDescription .picTxt .salesName {
  padding-top: 0;
  text-align: right;
}

.storyOfPeople .storyArticle .storyTxtContent p {
  text-indent: 2em;
  padding: 30px 50px;
}

.storyOfPeople .allStory,
.storyOfPeople .northStory,
.storyOfPeople .centralStory,
.storyOfPeople .southStory,
.storyOfPeople .eastStory {
  width: 90%;
  margin: 0 auto;
}

.storyOfPeople .allStoryList h2,
.storyOfPeople .northStory h2,
.storyOfPeople .centralStory h2,
.storyOfPeople .southStory h2,
.storyOfPeople .eastStory h2 {
  font-size: 0;
}

.storyOfPeople .allStoryList li,
.storyOfPeople .northStory li,
.storyOfPeople .centralStory li,
.storyOfPeople .southStory li,
.storyOfPeople .eastStory li {
  display: flex;
  justify-content: space-between;
  background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/01-PC/03-story/Story_bg.png?raw=true);
  margin-bottom: 50px;
}

.storyOfPeople .allStoryList li:hover h3 span:before,
.storyOfPeople .northStory li:hover h3 span:before,
.storyOfPeople .centralStory li:hover h3 span:before,
.storyOfPeople .southStory li:hover h3 span:before,
.storyOfPeople .eastStory li:hover h3 span:before {
  width: 100%;
}

.storyOfPeople .allStoryList .allStoryPic,
.storyOfPeople .northStory .allStoryPic,
.storyOfPeople .centralStory .allStoryPic,
.storyOfPeople .southStory .allStoryPic,
.storyOfPeople .eastStory .allStoryPic {
  width: 39%;
  box-shadow: 5px 5px 5px #fa0;
}

.storyOfPeople .allStoryList .allStoryTxt,
.storyOfPeople .northStory .allStoryTxt,
.storyOfPeople .centralStory .allStoryTxt,
.storyOfPeople .southStory .allStoryTxt,
.storyOfPeople .eastStory .allStoryTxt {
  width: 60%;
  position: relative;
  padding: 10px;
}

.storyOfPeople .allStoryList .allStoryTxt h3,
.storyOfPeople .northStory .allStoryTxt h3,
.storyOfPeople .centralStory .allStoryTxt h3,
.storyOfPeople .southStory .allStoryTxt h3,
.storyOfPeople .eastStory .allStoryTxt h3 {
  padding: 20px 10px;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

.storyOfPeople .allStoryList .allStoryTxt h3 span,
.storyOfPeople .northStory .allStoryTxt h3 span,
.storyOfPeople .centralStory .allStoryTxt h3 span,
.storyOfPeople .southStory .allStoryTxt h3 span,
.storyOfPeople .eastStory .allStoryTxt h3 span {
  position: relative;
}

.storyOfPeople .allStoryList .allStoryTxt h3 span:before,
.storyOfPeople .northStory .allStoryTxt h3 span:before,
.storyOfPeople .centralStory .allStoryTxt h3 span:before,
.storyOfPeople .southStory .allStoryTxt h3 span:before,
.storyOfPeople .eastStory .allStoryTxt h3 span:before {
  content: "";
  position: absolute;
  width: 0;
  border-bottom: 4px solid #fa0;
  bottom: 0;
  left: 0;
  transition: .3s;
}

.storyOfPeople .allStoryList .allStoryTxt p,
.storyOfPeople .northStory .allStoryTxt p,
.storyOfPeople .centralStory .allStoryTxt p,
.storyOfPeople .southStory .allStoryTxt p,
.storyOfPeople .eastStory .allStoryTxt p {
  padding: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.5);
}

.storyOfPeople .allStoryList .allStoryTxt .subStoryTitle,
.storyOfPeople .northStory .allStoryTxt .subStoryTitle,
.storyOfPeople .centralStory .allStoryTxt .subStoryTitle,
.storyOfPeople .southStory .allStoryTxt .subStoryTitle,
.storyOfPeople .eastStory .allStoryTxt .subStoryTitle {
  font-size: 16px;
}

.storyOfPeople .allStoryList .allStoryTxt .moreBtn,
.storyOfPeople .northStory .allStoryTxt .moreBtn,
.storyOfPeople .centralStory .allStoryTxt .moreBtn,
.storyOfPeople .southStory .allStoryTxt .moreBtn,
.storyOfPeople .eastStory .allStoryTxt .moreBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.support h2 {
  font-size: 36px;
  text-align: center;
  padding: 20px 0 20px 50px;
}

.supportContent {
  display: flex;
}

.supportContent .supportTxt {
  margin-bottom: 50px;
}

.supportContent p {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.supportContent .supportList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.supportContent .supportList h2 {
  font-size: 0;
}

.supportContent .supportList li {
  width: 30%;
  overflow: hidden;
  font-size: 0;
}

.supportContent .supportList a {
  display: block;
  transition: .5s;
}

.supportContent .supportList a:hover {
  transform: scale(1.1);
}

.footer .sectionContainer {
  background-color: #fa0;
  padding: 50px 0;
}

.footerContent {
  width: 80%;
  margin: 0 auto;
}

.footerContent .footerInfo:first-child {
  margin-bottom: 50px;
}

.footerContent .footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.footerContent .footerInfo .footerSocial {
  display: flex;
  align-items: center;
}

.footerContent .footerInfo .footerSocial li {
  font-size: 0;
  width: 50px;
}

.footerContent .footerInfo .footerSocial li a {
  display: block;
  margin: 0 10px;
}

.footerContent .footerInfo .footerAboutIssue {
  display: flex;
}

.copyright {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: #777;
}
/*# sourceMappingURL=BigIssueAll.css.map */