@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  outline: 1px solid #f00;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
  width: 100%;
}

.section {
  padding: 50px 0;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.allContent {
  display: flex;
  justify-content: center;
}

.allContent .asideContent {
  width: 100%;
  max-width: 1150px;
}

.allContent .asideBar {
  width: 50px;
  height: 100%;
  position: sticky;
  padding-top: 50px;
  top: 0;
}

.allContent .asideBar h2 {
  font-size: 0;
}

.allContent .asideBar .asideNavBarList li {
  font-size: 0;
}

.allContent .asideBar .asideNavBarList li a {
  display: block;
  font-size: 20px;
  writing-mode: vertical-rl;
  line-height: 50px;
  padding: 15px 0;
}

.asideTitlePic {
  width: 14%;
}

.asideTitlePic img {
  width: 100%;
}

.moreBtn {
  display: block;
  margin: 0 auto;
  padding-left: 50px;
  background-color: transparent;
  border: none;
  position: relative;
}

.moreBtn a {
  display: block;
  padding: 13px 12px;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 #fa0;
  position: relative;
  transition: .5s;
}

.moreBtn a:before {
  content: "";
  position: absolute;
  width: 120%;
  border-top: 2px solid #aaa;
  top: 0;
  left: -12px;
  transition: .5s;
}

.moreBtn a:before {
  border-bottom: 2px solid #aaa;
  bottom: 0;
}

.moreBtn a:after {
  content: "";
  position: absolute;
  height: 140%;
  border-right: 2px solid #aaa;
  top: -6px;
  right: 0;
  transition: .5s;
}

.moreBtn a:after {
  border-left: 2px solid #aaa;
  top: -11px;
  left: 0;
}

.moreBtn a:hover {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 #fff;
  background-color: #fa0;
  color: #fff;
}

.moreBtn a:hover:before {
  width: 100%;
  left: 0;
}

.moreBtn a:hover:after {
  height: 100%;
  top: 0;
}

.moreBtn:before {
  content: "";
  position: absolute;
  height: 35%;
  border-left: 2px solid #fff;
  z-index: 2;
  top: 7px;
  left: 1px;
  transition: .5s;
}

.moreBtn:hover:before {
  opacity: 0;
}

.header h1 {
  font-size: 0;
}

.header .headerBar {
  display: none;
}

.header .headerBanner {
  height: 100vh;
  display: flex;
  align-items: center;
}

.header .headerBanner .impression {
  width: 40%;
  height: 100vh;
  line-height: 100vh;
  padding: 10px;
  border-right: 1px solid #aaa;
}

.header .headerBanner .impression img {
  width: 100%;
}

.header .bannerTxt {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .bannerTxt .logo img {
  width: 100%;
}

.header .bannerTxt p {
  font-style: italic;
}

.issue h2 {
  font-size: 36px;
  text-align: center;
  padding: 20px 0 20px 50px;
}

.issue .issueContent {
  display: flex;
}

.issue .issueContent .carousel {
  width: 80%;
  margin: 0 auto 50px;
}

.issue .issueContent .carousel .carousel-item > img {
  margin-bottom: 20px;
}

.issue .issueContent .carousel .animate__fadeInUp {
  animation-delay: .5s;
}

.sales h2 {
  font-size: 36px;
  text-align: center;
  padding: 20px 0 20px 50px;
}

.sales .salesContent {
  display: flex;
  margin-bottom: 50px;
}

.sales .salesContent .salesStory {
  width: 80%;
  margin: 0 auto;
}

.sales .salesContent .salesStory .salesList {
  display: flex;
  justify-content: space-between;
}

.sales .salesContent .salesStory .salesList li {
  width: 48%;
  padding: 10px;
}

.sales .salesContent .salesStory .salesList li img {
  width: 100%;
}

.sales .salesContent .salesStory .salesList li .storyTxt h3 {
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
}

.sales .salesContent .salesStory .salesList li .storyTxt p {
  margin-bottom: 20px;
  padding: 10px;
}

.sales .salesContent .salesStory .salesList li .storyTxt p:first-child {
  font-size: 20px;
}

.sales .salesContent .salesStory .salesList li .storyTxt p:last-child {
  font-size: 14px;
}
/*# sourceMappingURL=BigIssueAll.css.map */