@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
html,body{
    line-height: 1.5;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
}
*{
    box-sizing: border-box;
    // outline: 1px solid #f00;
}
a,a:hover{
    text-decoration: none;
    color: #000;
}
img{
    vertical-align: middle;
    width: 100%;
}
.section{
    padding: 50px 0;
}
.sectionContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.allContent{
    display: flex;
    justify-content: center;
    .asideContent{
        width: 100%;
        max-width: 1150px;

    }
    .asideBar{
        width: 50px;
        height: 100%;
        position: sticky;
        padding-top: 50px;
        top: 0;
        h2{
            font-size: 0;
        }
        .asideNavBarList{
            li{
                font-size: 0;
                a{
                    display: block;
                    font-size: 20px;
                    writing-mode: vertical-rl;
                    line-height: 50px;
                    padding: 15px 0;
                }
            }
        }
    }
}
.asideCommon{
    width: 14%;
    position: sticky;
    height: 100%;
    top: 50px;
    img{
        width: 100%;        
    }
}
.moreBtn{
    display: block;
    margin: 0 auto;
    padding-left: 50px;
    background-color: transparent;
    border: none;
    position: relative;
    a{
        display: block;
        padding: 13px 24px;
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px 0 #fa0;
        position: relative;
        transition: .3s;
    }
    a:before{
        content: "";
        position: absolute;
        width: 120%;
        border-top: 2px solid #aaa;
        top: 0;
        left: -12px;
        transition: .3s;
    }
    a:before{
        border-bottom: 2px solid #aaa;
        bottom: 0;
    }
    a:after{
        content: "";
        position: absolute;
        height: 140%;
        border-right: 2px solid #aaa;
        top: -6px;
        right: 0;
        transition: .3s;
    }
    a:after{
        border-left: 2px solid #aaa;
        top: -11px;
        left: 0;
    }
    a:hover{
        transform: translate(5px, 5px);
        box-shadow: 0 0 0 #fff;
        background-color: #fa0;
        color: #fff;
    }
    a:hover:before{
            width: 100%;
            left: 0;
    }
    a:hover:after{
        height: 100%;
        top: 0;
    }
}
.moreBtn:before{
    content: "";
    position: absolute;
    height: 35%;
    border-left: 2px solid #fff;
    z-index: 2;
    top: 12px;
    left: 50px;
    transform: translate(-5px, -5px);
    transition: .3s;
    
}
.moreBtn:hover:before{
    height: 0;
    transform: translate(5px, 5px);
}