.header{
    h1{
        font-size: 0;
    }
    .headerBar{
        display: none;
        
    }
    .headerBanner{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        .impression{
            width: 70%;
            height: 100vh;
            margin: 0 auto;
            line-height: 100vh;
            padding: 10px;
            animation-duration: 2s;
        }
    }
    .bannerTxt{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 100vh;
        .logo{
            width: 85%;
            margin: 0 auto;
            animation-delay: 1s;
            animation-duration: 2s;
            img{
                width: 100%;
            }
        }
    }
}
