.header{
    .headerPic{
        position: relative;
    }
    .headerPic:after{
        content: "";
        position: absolute;
        width: 95%;
        height: 1px;
        background-color: #dbdbdc;
        left: 0;
        bottom: 20px;
    }
}
.storyOfPeople,
.magazines{
    display: flex;
    .storyAisdeMenu,
    .magazineAisdeMenu{
        display: none;
        padding: 100px 0;
        position: relative;
        li{
            font-size: 0;
            text-align: right;
            position: relative;
            a{
                display: block;
                font-size: 16px;
                padding: 30px 0;
                transition: .3s;
                position: relative;
            }
            a:before{
                content: "";
                position: absolute;
                width: 80%;
                border-bottom: 1px solid $border-color;
                right: 0;
                bottom: 25px;
            }
            a:hover{
                color: $hover-border-color;
            }

        }
    }
    .magazineAisdeMenu:before,
    .storyAisdeMenu:before{
        content: "";
        position: absolute;
        height: 130%;
        border-right: 1px solid #dbdbdc;
        right: -7px;
        top: -25%;
        z-index: -1;
    }
    .magazineAisdeMenu:before{
        right: -9px;
    }
    .storyContent,
    .magazineContent{
        width: 90%;
        margin: 0 auto;
        position: relative;
        .magazineAisdeMenu.Ph{
            display: block;
        }
    }
    .storyBreadCrumb,
    .magazineBreadCrumb{
            display: flex;
            margin-bottom: 50px;
            li{
                font-size: 0;
            }
            a,
            .fas{
                display: block;
                font-size: 16px;
                line-height: 24px;
                padding: 0 15px;
            }
            span{
                position: relative;
            }
            span:before{
                content: "";
                position: absolute;
                width: 0;
                border-bottom: 10px solid #fa0;
                left: 0;
                bottom: 0;
                z-index: -1;
                transition: width .3s;
            }
            a:hover > span:before{
                width: 100%;
            }
        
    }
    .selectArea,
    .selectYears{
            position: absolute;
            top: 0;
            right: -10px;
            z-index: 1;
            li{
                font-size: 0;
            }
            .selectMenu{
                width: 130px;
                text-align: center;
                cursor: pointer;
                font-size: 16px;
                padding: 5px 25px;
                background-color: #777;
                color: $txt-color;
            }
            .subSelectMenu{
                width: 100%;
                position: absolute;
                top: 34px;
                left: -100%;
                opacity: 0;
                z-index: 1;
                a{
                    display: block;
                    font-size: 16px;
                    text-align: center;
                    padding: 5px 25px;
                    background-color: #ccc;
                }
                a:hover{
                    background-color: #aaa;
                }
            }
            .selectMenu:hover > .subSelectMenu{
                left: 0;
                opacity: 1;
                z-index: 2;
                transition: .5s;
            }
            
    }
    .storyArticle{
        width: 80%;
        margin: 0 auto 40px auto;
        .storyPicDescription{
            width: 90%;
            margin: 0 auto 50px auto;
            display: flex;
            align-items: center;
            background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/01-PC/03-story/Story_bg.png?raw=true);
            .storyPic{
                width: 50%;
                h3{
                    font-size: 0;
                }
                img{
                    box-shadow: 5px 5px 5px #fa0;
                }
            }
            .picTxt{
                width: 50%;
                p{
                    width: 90%;
                    margin: 0 auto;
                    padding: 20px;
                    // background-color: rgba(245, 243, 242, .5);
                }
                .salesName{
                    padding-top: 0;
                    text-align: right;
                }
            }

        }
        .storyTxtContent{
            p{
                text-indent: 2em;
                padding: 30px 50px;
                
            }
        }
    }
    .allStory,
    .northStory,
    .centralStory,
    .southStory,
    .eastStory,
    .allMagazine{
        width: 80%;
        margin: 0 auto;
    }
    .allStoryList,
    .northStory,
    .centralStory,
    .southStory,
    .eastStory{
        h2{
            font-size: 0;
        }
        li{
            display: flex;
            justify-content: space-between;
            background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/01-PC/03-story/Story_bg.png?raw=true);
            margin-bottom: 50px;
        }
        li:hover h3 span:before{
            width: 100%;
        }
        .allStoryPic{
            width: 39%;
            box-shadow: 5px 5px 5px #fa0;
        }
        .allStoryTxt{
            width: 60%;
            position: relative;
            padding: 10px;
            h3{
                padding: 20px 10px;
                font-size: 24px;
                position: relative;
                z-index: 1;
                span{
                    position: relative;
                }
                span:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    border-bottom: 4px solid #fa0;
                    bottom: 0;
                    left: 0;
                    transition: .3s;
                }
            }
            p{
                padding: 10px;
                font-size: 14px;
                background-color: rgba(255, 255, 255, .5);
            }
            .subStoryTitle{
                font-size: 16px;
            }
            .moreBtn{
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }
    .allMagazineList{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        h2{
            font-size: 0;
        }
        li{
            width: 31%;
            .magazinePic{
                margin-bottom: 30px;
            }
        }
        li > .moreBtn{
            padding: 0;
        }
    }

}
