.supportBanner{
    h2{
        font-size: 0;
    }
}
.support{
    h2{
        font-size: 36px;
        text-align: center;
        padding: 20px 0 20px 100px;
    }
}
.supportContent{
    display: flex;
    .supportWay{
        width: 70%;
        margin: 0 auto;
    }
    .supportTxt{
        margin-bottom: 50px;
    }
    p{
        padding: 10px 0;
        text-align: center;
    }
    .supportList{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        h2{
            font-size: 0;
            padding: 0;
            text-align: unset;
            line-height: 0;
        }
        li{
            width: 30%;
            // overflow: hidden;
            font-size: 0;
        }
        a{
            display: block;
            transition: .5s;
            box-shadow: 5px 5px 5px $img-box-shadow-color;
        }
        a:hover{
            transform: scale(1.1);
        }
        
    }
}
@media screen and (max-width: 576px){
    .supportBanner{
        padding: 0 0;
    }
    .support{
        h2{
            padding:  25px 0 ;
        }
        .supportContent{
            background-image: url(https://github.com/Soumeteor/the-big-iusse/blob/master/material/sales/bg-sales.png?raw=true);
           .supportWay{
               width: 90%; 
               background-color:  rgba(255, 255, 255, 0.5);
               padding: 10px;
               .supportTxt{
                   
               }
               .supportList{
                   display: block;
                   li{
                       width: 100%;
                       margin-bottom: 15px;
                   }
               }
           }
        }
        .moreBtn{
            padding-top: 50px;
        }
    }
}